<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="generator" content="Plone - http://plone.org" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<title>All Faculty &amp; Staff — School of Nursing</title>
	<!-- HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
	<link class="themecss" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/bootstrap.min.css"
	/>
	<link class="themecss" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/bootstrap-responsive.min.css"
	/>
	<link class="themecss" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/bootstrap-glyphicons.css"
	/>
	<link rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/resourcecollective.js.fullcalendarfullcalendar-cachekey-4417d178874bf62938ceb40b67953c9c.css"
	/>
	<link rel="stylesheet" type="text/css" media="screen" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/base.css"
	/>
	<link rel="stylesheet" type="text/css" media="screen" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/breadcrumbs.css"
	/>
	<link rel="stylesheet" type="text/css" media="screen" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/footers.css"
	/>
	<link rel="stylesheet" type="text/css" media="screen" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/faculty.css"
	/>
	<link rel="stylesheet" type="text/css" media="print" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/print.css"
	/>
	<link rel="stylesheet" type="text/css" media="all" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/graduatecatalog.css"
	/>
	<link rel="stylesheet" type="text/css" media="all" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/solgema_contextualcontentmenu-cachekey-94b258bf23918102e43459a86e16dc38.css"
	/>
	<link class="themecss" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/theme.css"
	/>
	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/theme.ie.css" />
<![endif]-->
	<link class="themecss site-theme nursing-theme" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/nursing.css"
	/>
	<style>
		/* Local CSS from site root */

		#lowerbar .sprite-medicine {
			background: transparent;
		}


		#hero-rows .portlet-static-config,
		#hero-rows .portlet-static-hero-slider,
		#hero-rows .portlet-static-main-site-nav-social {
			display: none;
		}

		.visualClear {
			clear: both;
		}
	</style>
</head>

<body class="template-atct_topic_view portaltype-topic site-site-nursing section-directory subsection-copy_of_all-faculty-staff icons-on userrole-anonymous">
	<a href="#view-main-content" class="reader-skip">Skip to Main Content</a>
	<div id="fb-root"></div>
	<header id="masthead">
		<div id="upperbar" class="med-nav-collapse collapse upperbar">
			<div class="container">
				<ul class="nav nav-pills pull-right account">
					<li>
						<a href="http://louisville.edu">
							<i class="glyphicon glyphicon-home"></i>Louisville.edu</a>
					</li>
					<li>
						<a href="http://louisville.edu/hsc" class="hsc-link">
							<i class="glyphicon glyphicon-globe"></i>Health Sciences Center</a>
					</li>
					<li class="dropdown hidden-phone">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="glyphicon glyphicon-user"></i>My Accounts
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="https://exchange.louisville.edu/">Exchange</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="https://outlook.com/cardmail.louisville.edu">CardMail</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="https://hrprod.louisville.edu/">PeopleSoft HR</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="https://csprod.louisville.edu/">PeopleSoft Campus Solutions</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="https://financials.louisville.edu/">PeopleSoft Financials</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="https://ulink.louisville.edu/">ULink</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="https://blackboard.louisville.edu/">Blackboard</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="login">Plone</a>
							</li>
						</ul>
					</li>
					<li class="visible-phone">
						<a data-toggle="collapse" class="upperbar-accounts-collapse collapsed chevron-collapse visible-phone" href="#account-dropdown-2">My Accounts
							<i class="glyphicon glyphicon-chevron-right visible-phone"></i>
						</a>
						<div class="account-collapse collapse" id="account-dropdown-2">
							<ul>
								<li>
									<a href="https://exchange.louisville.edu/">Exchange</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://outlook.com/cardmail.louisville.edu">CardMail</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://hrprod.louisville.edu/">PeopleSoft HR</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://csprod.louisville.edu/">PeopleSoft Campus Solutions</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://financials.louisville.edu/">PeopleSoft Financials</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://ulink.louisville.edu/">ULink</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://blackboard.louisville.edu/">Blackboard</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="login">Plone</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="lowerbar" class="navbar navbar-static-top">
			<div class="navbar-inner non-hsc">
				<div class="container">
					<div class="row-fluid">
						<div class="span2">
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".med-nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<div class="sr-only">Menu</div>
							</a>

							<a href="http://louisville.edu/nursing" class="logo">
								<div class="sprite sprite-nursing"></div>
							</a>

						</div>
						<div class="span4 visible-desktop">
							<form class="search" id="search-form">
								<label for="search-box">Search UofL</label>
								<div class="input-append">
									<input type="search" class="search" placeholder="Search pages, people" name="q" size="25" results="10" id="search-box" />
									<button type="submit" value="Go" name="btnHeaderSearch" class="btn">Go</button>
								</div>
							</form>
						</div>
						<div class="span6">
							<nav class="nav-collapse collapse med-nav-collapse">
								<div class="visible-tablet visible-phone dropdown">
									<a class="btn btn-small hidden-phone" data-toggle="dropdown" data-target=".tablet-search">
										<i class="glyphicon glyphicon-search">
											<div class="sr-only">Search</div>
										</i>
									</a>
									<div class="tablet-search visible-phone">
										<form class="search" id="mobile-search-form">
											<label for="search-box">Search UofL</label>
											<div class="input-append">
												<input type="search" class="search" placeholder="Search pages, people" name="q" size="25" results="10" id="search-box" />
												<button type="submit" value="Go" name="btnHeaderSearch" class="btn">Go</button>
											</div>
										</form>
									</div>
								</div>
								<div class="social hidden-phone">
									<a href="https://www.facebook.com/UofLSchoolOfNursing">
										<i class="sprite sprite-facebook-header"></i>
									</a>
								</div>
								<ul id="masthead-nav" class="nav"></ul>
							</nav>
						</div>
					</div>
				</div>
			</div>

		</div>
	</header>
	<div class="page-wrapper">

		<div class="hero-content">
			<div class="hero-inner">
				<div class="hero-image" style="background-image:url('misc/inside-hero.jpg');">
				</div>
				<div class="hero-shadow-wrapper">
					<div class="hero-shadow"></div>
				</div>
			</div>
		</div>

		<a class="skip-marker" name="view-main-content" id="view-main-content"></a>

		<div class="container" id="breadcrumb-social">

			<div class="row-fluid">
				<div class="span6">
					<ul class="breadcrumb">
						<li>
							<a href="http://louisville.edu/nursing">Home</a>
							<span class="divider">/</span>
						</li>
						<li>
							<a href="http://louisville.edu/nursing/directory">Directory</a>
							<span class="divider">/</span>
						</li>
						<li>
							<span id="breadcrumbs-current">All Faculty &amp; Staff</span>
						</li>
					</ul>
				</div>
				<div class="span6">
					<ul class="social-icons-horizontal">
						<li>
							<div class="fb-like" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light"
							 data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
						</li>
						<li>
							<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
							<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
						</li>
						<li>
							<div class="g-plusone" data-size="medium"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container main-content" id="main-content">
			<h1 class="hidden-phone">
				All Faculty &amp; Staff
			</h1>
			<div class="row-fluid">
				<div class="span12 content">
					<h1 class="visible-phone">
						All Faculty &amp; Staff
					</h1>



					<div class="core-content">
						<div id="content-core">

							<div data-widget-host="habitat" class="preview">
								<script type="text/props">
									{
										"load": [
											"Image",
											{
												"Contact": {
													"css": "p",
													"hidden": true
												}
											}
										],
										"pageType": "bio-page",
										"cols": 2
									}
								</script>
							</div>
							<table class="listing" summary="Content listing">
								<thead>
									<tr>
										<th style="cursor: pointer;">Title<span class="sortdirection"> </span></th>
										<th style="cursor: pointer;">Tags<span class="sortdirection"> </span></th>
									</tr>
								</thead>
								<tbody>
									<tr class="odd">
										<td>
											<a href="http://louisville.edu/medicine/departments/microbiology/degrees/students/copy3_of_BradyAmanda.jpg/view" title="">
												<img width="16" height="16" src="http://louisville.edu/medicine/image.png" alt="Image JPEG image">
											</a>
											<a href="http://louisville.edu/medicine/departments/microbiology/degrees/students/copy3_of_BradyAmanda.jpg/view" class="state-missing-value contenttype-image" title="">Amanda Brady</a>
										</td>
										<td>2018</td>
									</tr>
									<tr class="even">
										<td>
											<a href="http://louisville.edu/medicine/departments/microbiology/degrees/students/JamisonTyrell.jpg/view" title="">
												<img width="16" height="16" src="http://louisville.edu/medicine/image.png" alt="Image JPEG image">
											</a>
											<a href="http://louisville.edu/medicine/departments/microbiology/degrees/students/JamisonTyrell.jpg/view" class="state-missing-value contenttype-image" title="">Tyrell Jamison</a>
										</td>
										<td>2018</td>
									</tr>
									<tr class="odd">
										<td>
											<a href="http://louisville.edu/medicine/departments/microbiology/degrees/students/HanfordHannah.jpg/view" title="">
												<img width="16" height="16" src="http://louisville.edu/medicine/image.png" alt="Image JPEG image">
											</a>
											<a href="http://louisville.edu/medicine/departments/microbiology/degrees/students/HanfordHannah.jpg/view" class="state-missing-value contenttype-image" title="">Hannah Hanford</a>
										</td>
										<td>2018</td>
									</tr>
									<tr class="even">
										<td>
											<a href="http://louisville.edu/medicine/departments/microbiology/degrees/students/copy_of_CooperKelley.jpg/view" title="">
												<img width="16" height="16" src="http://louisville.edu/medicine/image.png" alt="Image JPEG image">
											</a>
											<a href="http://louisville.edu/medicine/departments/microbiology/degrees/students/copy_of_CooperKelley.jpg/view" class="state-missing-value contenttype-image" title="">Kelley Cooper</a>
										</td>
										<td>2018</td>
									</tr>
									<tr class="odd">
										<td>
											<a href="http://louisville.edu/medicine/departments/microbiology/degrees/students/Jones-%20Claire.png/view" title="">
												<img width="16" height="16" src="http://louisville.edu/medicine/png.png" alt="Image PNG image">
											</a>
											<a href="http://louisville.edu/medicine/departments/microbiology/degrees/students/Jones-%20Claire.png/view" class="state-missing-value contenttype-image" title="">Claire Jones</a>
										</td>
										<td>2017</td>
									</tr>
									<tr class="even">
										<td>
											<a href="http://louisville.edu/medicine/departments/microbiology/degrees/students/Geller.jpg/view" title="Anne Geller">
												<img width="16" height="16" src="http://louisville.edu/medicine/image.png" alt="Image JPEG image">
											</a>
											<a href="http://louisville.edu/medicine/departments/microbiology/degrees/students/Geller.jpg/view" class="state-missing-value contenttype-image" title="Anne Geller">Anne Geller</a>
										</td>
										<td>2017</td>
									</tr>
									<tr class="odd">
										<td>
											<a href="http://louisville.edu/medicine/departments/microbiology/degrees/students/copy_of_HenckelMelissa.jpgcopy.jpg/view" title="">
												<img width="16" height="16" src="http://louisville.edu/medicine/image.png" alt="Image JPEG image">
											</a>
											<a href="http://louisville.edu/medicine/departments/microbiology/degrees/students/copy_of_HenckelMelissa.jpgcopy.jpg/view" class="state-missing-value contenttype-image" title="">Melissa Henckel</a>
										</td>
										<td>2017</td>
									</tr>
								</tbody>
							</table>
							<!-- Navigation -->
						</div>
					</div>
				</div>
			</div>
			<ul class="social-icons-horizontal">
				<li>
					<div class="fb-like" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light"
					 data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
				</li>
				<li>
					<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
					<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
				</li>
				<li>
					<div class="g-plusone" data-size="medium"></div>
				</li>
			</ul>
		</div>

		<div id="prefooter">
			<div class="container">
				<div class="row-fluid">
					<div class="span3">
						<h1>School of Nursing</h1>
						<address class="prefooter-address">
							<p>Health Sciences Campus, K-Wing
								<br /> 555 South Floyd Street
								<br /> Suite 3019
								<br /> Louisville, KY 40202</p>
						</address>
					</div>
					<div class="span2">
						<h1>
							<em class="glyphicon glyphicon-time"></em> Office Hours</h1>
						<p>M-F 8:00 am to 5:00 pm</p>
						<p>No Weekend or Holiday Hours</p>
					</div>
					<div class="span2">
						<h1>
							<em class="glyphicon  icon-question-sign"></em> Contact</h1>
						<p>
							<em class="glyphicon glyphicon-phone"></em>1-877-81-NURSE</p>
						<p>
							<em class="glyphicon glyphicon-phone"></em>502-852-5825</p>
						<p>
							<a href="mailto:karen.rose@louisville.edu">
								<em class="glyphicon glyphicon-envelope"></em> Email</a>
						</p>
						<p>View more
							<a href="http://louisville.edu/nursing/contact">contact information</a>.</p>
					</div>
					<div class="span2">
						<h1>
							<em class="glyphicon icon-info-sign"></em> About</h1>
						<p>
							<a class="internal-link" href="resolveuid/e4e139cebf564c05964f7100dd4ae803">About the School</a>
						</p>
						<p>
							<a href="http://louisville.edu/nursing/dean">Office of the Dean</a>
						</p>
						<p>
							<a href="http://louisville.edu/nursing/directory">Directory</a>
						</p>
						<p>
							<a class="internal-link" href="resolveuid/e4e139cebf564c05964f7100dd4ae803">Accreditation</a>
						</p>
					</div>
					<div class="span3">
						<h1>
							<em class="glyphicon glyphicon-comment"></em> Giving</h1>
						<div class="row-fluid">
							<div class="span6">
								<p>
									<a href="http://louisville.edu/nursing/giving">Giving to the SON</a>
								</p>
								<h1>
									<em class="glyphicon glyphicon-comment"></em> Social Media</h1>
								<div class="row-fluid">
									<div class="span6">
										<p>
											<a class="external-link" href="https://www.facebook.com/UofLSchoolOfNursing" target="_self" title="">Facebook</a>
										</p>
										<p>
											<a href="https://twitter.com/uofl_son">Twitter</a>
										</p>
										<p>
											<a class="external-link" href="https://www.youtube.com/channel/UCLB1KxFIe6ZP4FMxWMqaisQ" target="_self" title="SON Nursing Site">YouTube
												<br />
											</a>
										</p>
									</div>
								</div>
							</div>
							<p>
								<a class="external-link" href="http://https://www.youtube.com/channel/UCLB1KxFIe6ZP4FMxWMqaisQ" target="_self" title="SON Nursing Site">
									<br />
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer class="grey">
		<div class="container">
			<div class="row hidden-phone">
				<div class="span3">
					<ul class="nav nav-pills">
						<li id="copy">
							<a title="Go to louisville.edu" rel="tooltip" href="http://louisville.edu/">
								© University of Louisville
							</a>
						</li>
					</ul>
				</div>
				<div class="span7">
					<ul class="nav nav-pills">
						<li>
							<a href="http://louisville.edu/contact.html">Contact</a>
						</li>
						<li>
							<a href="http://louisville.edu/privacy-statement">Privacy Statement</a>
						</li>
						<li class="dropdown dropup">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								Apply
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="http://louisville.edu/admissions/apply">Undergraduate</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://louisville.edu/admissions/apply/transfer/">Transfer</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://graduate.louisville.edu/">Graduate</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://louisville.edu/dental/dmd/admission/">Dentistry</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://www.law.louisville.edu/admissions">Law</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://louisville.edu/medschool/apply">Medicine</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://louisville.edu/business/apply">MBA</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://louisville.edu/admissions/apply/international">International</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://louisville.edu/online/admissions">Online Learning</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="http://louisville.edu/jobs">Jobs</a>
						</li>
						<li>
							<a href="http://louisville.edu/giving">Donate</a>
						</li>
						<li>
							<a href="http://louisville.edu/emergency">Emergency</a>
						</li>
					</ul>
					<!-- Fix this -->
				</div>
				<div class="span2">
					<ul class="nav nav-pills pull-right">
						<li id="login-bottom" class="dropdown dropup pull-right">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								Login
								<i class="icon-cog icon-white"></i>
							</a>
							<ul class="dropdown-menu bottom-up">
								<li>
									<a href="https://exchange.louisville.edu/">Exchange</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://outlook.com/cardmail.louisville.edu">CardMail</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://hrprod.louisville.edu/">PeopleSoft HR</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://csprod.louisville.edu/">PeopleSoft Campus Solutions</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://financials.louisville.edu/">PeopleSoft Financials</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://blackboard.louisville.edu/">Blackboard</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="login">Plone</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="row visible-phone">
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<a href="http://louisville.edu/contact.html">
								<i class="icon-chevron-right icon-white pull-right"></i>
								Contact
							</a>
						</div>
					</div>
				</div>
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<a href="http://louisville.edu/privacy-statement">
								<i class="icon-chevron-right icon-white pull-right"></i>
								Privacy Statement
							</a>
						</div>
					</div>
				</div>
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<button class="btn btn-navbar" data-target="#mobile-footer-about" data-toggle="collapse" type="button">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<span class="footer-item">Apply</span>
							<div id="mobile-footer-about" class="nav-collapse collapse">
								<ul class="nav">
									<li>
										<a href="http://louisville.edu/admissions/apply">Undergraduate</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://louisville.edu/admissions/apply/transfer/">Transfer</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://graduate.louisville.edu/">Graduate</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://louisville.edu/dental/dmd/admission/">Dentistry</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://www.law.louisville.edu/admissions">Law</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://louisville.edu/medschool/apply">Medicine</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://louisville.edu/business/apply">MBA</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://louisville.edu/admissions/apply/international">International</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="http://louisville.edu/online/admissions">Online Learning</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<a href="http://louisville.edu/jobs">
								<i class="icon-chevron-right icon-white pull-right"></i>
								Jobs
							</a>
						</div>
					</div>
				</div>
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<a href="http://louisville.edu/giving">
								<i class="icon-chevron-right icon-white pull-right"></i>
								Donate
							</a>
						</div>
					</div>
				</div>
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<a href="http://louisville.edu/emergency">
								<i class="icon-chevron-right icon-white pull-right"></i>
								Emergency
							</a>
						</div>
					</div>
				</div>
				<div class="navbar">
					<div class="navbar-inner">
						<button class="btn btn-navbar" data-target="#mobile-footer-login" data-toggle="collapse" type="button">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<span class="footer-item">Login</span>
						<div id="mobile-footer-login" class="nav-collapse collapse">
							<ul class="nav">
								<li>
									<a href="https://exchange.louisville.edu/">Exchange</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://outlook.com/cardmail.louisville.edu">CardMail</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://hrprod.louisville.edu/">PeopleSoft HR</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://csprod.louisville.edu/">PeopleSoft Campus Solutions</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="https://financials.louisville.edu/">PeopleSoft Financials</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="http://blackboard.louisville.edu/">Blackboard</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="login">Plone</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<a title="Go to louisville.edu" rel="tooltip" href="http://louisville.edu/">
					© University of Louisville
				</a>
			</div>
		</div>
	</footer>
	<script async src="/bundle.js"></script>
</body>

</html>