<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="generator" content="Plone - http://plone.org" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>All Faculty &amp; Staff — School of Nursing</title>
<!-- HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <link class="themecss" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/bootstrap.min.css" />
    <link class="themecss" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/bootstrap-responsive.min.css" />
    <link class="themecss" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/resourcecollective.js.fullcalendarfullcalendar-cachekey-4417d178874bf62938ceb40b67953c9c.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/breadcrumbs.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/footers.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/faculty.css" />
    <link rel="stylesheet" type="text/css" media="print" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/print.css" />
    <link rel="stylesheet" type="text/css" media="all" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/++resource++uofl.p4basetheme.stylesheets/graduatecatalog.css" />
    <link rel="stylesheet" type="text/css" media="all" href="http://louisville.edu/nursing/portal_css/UofL%20Base%20Theme/solgema_contextualcontentmenu-cachekey-94b258bf23918102e43459a86e16dc38.css" />
    <link class="themecss" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/theme.css" />
<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/theme.ie.css" />
<![endif]-->
    <link class="themecss site-theme nursing-theme" rel="stylesheet" type="text/css" href="http://louisville.edu/nursing/++theme++uofl.dztheme.hsc/css/nursing.css" />
    <style>
/* Local CSS from site root */
#lowerbar .sprite-medicine { background:transparent; }


#hero-rows .portlet-static-config,
#hero-rows .portlet-static-hero-slider,
#hero-rows .portlet-static-main-site-nav-social { display:none; }

.visualClear { clear: both; }
</style>
  </head>
  <body class="template-atct_topic_view portaltype-topic site-site-nursing section-directory subsection-copy_of_all-faculty-staff icons-on userrole-anonymous">
    <a href="#view-main-content" class="reader-skip">Skip to Main Content</a>
    <div id="fb-root"></div>
    <header id="masthead"><div id="upperbar" class="med-nav-collapse collapse upperbar">
		<div class="container">
			<ul class="nav nav-pills pull-right account">
			<li><a href="http://louisville.edu"><i class="glyphicon glyphicon-home"></i>Louisville.edu</a></li><li><a href="http://louisville.edu/hsc" class="hsc-link"><i class="glyphicon glyphicon-globe"></i>Health Sciences Center</a></li><li class="dropdown hidden-phone"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i>My Accounts<b class="caret"></b></a><ul class="dropdown-menu pull-right"><li><a href="https://exchange.louisville.edu/">Exchange</a></li><li class="divider"></li><li><a href="https://outlook.com/cardmail.louisville.edu">CardMail</a></li><li class="divider"></li><li><a href="https://hrprod.louisville.edu/">PeopleSoft HR</a></li><li class="divider"></li><li><a href="https://csprod.louisville.edu/">PeopleSoft Campus Solutions</a></li><li class="divider"></li><li><a href="https://financials.louisville.edu/">PeopleSoft Financials</a></li><li class="divider"></li><li><a href="https://ulink.louisville.edu/">ULink</a></li><li class="divider"></li><li><a href="https://blackboard.louisville.edu/">Blackboard</a></li><li class="divider"></li><li><a href="login">Plone</a></li></ul></li><li class="visible-phone"><a data-toggle="collapse" class="upperbar-accounts-collapse collapsed chevron-collapse visible-phone" href="#account-dropdown-2">My Accounts<i class="glyphicon glyphicon-chevron-right visible-phone"></i></a><div class="account-collapse collapse" id="account-dropdown-2"><ul><li><a href="https://exchange.louisville.edu/">Exchange</a></li><li class="divider"></li><li><a href="https://outlook.com/cardmail.louisville.edu">CardMail</a></li><li class="divider"></li><li><a href="https://hrprod.louisville.edu/">PeopleSoft HR</a></li><li class="divider"></li><li><a href="https://csprod.louisville.edu/">PeopleSoft Campus Solutions</a></li><li class="divider"></li><li><a href="https://financials.louisville.edu/">PeopleSoft Financials</a></li><li class="divider"></li><li><a href="https://ulink.louisville.edu/">ULink</a></li><li class="divider"></li><li><a href="https://blackboard.louisville.edu/">Blackboard</a></li><li class="divider"></li><li><a href="login">Plone</a></li></ul></div></li>
		</ul></div>
	</div>
	<div id="lowerbar" class="navbar navbar-static-top">
		<div class="navbar-inner non-hsc">
			<div class="container">
				<div class="row-fluid">
					<div class="span2">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".med-nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<div class="sr-only">Menu</div>
						</a>
						
			<a href="http://louisville.edu/nursing" class="logo"><div class="sprite sprite-nursing"></div></a>
		
					</div>
					<div class="span4 visible-desktop">
						<form class="search" id="search-form">
							<label for="search-box">Search UofL</label>
							<div class="input-append">
								<input type="search" class="search" placeholder="Search pages, people" name="q" size="25" results="10" id="search-box" /><button type="submit" value="Go" name="btnHeaderSearch" class="btn">Go</button>
							</div>
						</form>
					</div>
					<div class="span6">
						<nav class="nav-collapse collapse med-nav-collapse"><div class="visible-tablet visible-phone dropdown">
								<a class="btn btn-small hidden-phone" data-toggle="dropdown" data-target=".tablet-search"><i class="glyphicon glyphicon-search"><div class="sr-only">Search</div></i></a>
								<div class="tablet-search visible-phone">
									<form class="search" id="mobile-search-form">
										<label for="search-box">Search UofL</label>
										<div class="input-append">
											<input type="search" class="search" placeholder="Search pages, people" name="q" size="25" results="10" id="search-box" /><button type="submit" value="Go" name="btnHeaderSearch" class="btn">Go</button>
										</div>
									</form>
								</div>
							</div>
							<div class="social hidden-phone"><a href="https://www.facebook.com/UofLSchoolOfNursing"><i class="sprite sprite-facebook-header"></i></a></div>
							<ul id="masthead-nav" class="nav"></ul></nav></div>
				</div>
			</div>
		</div>
		
	</div>
</header>
    <div class="page-wrapper">

	<div class="hero-content">
		<div class="hero-inner"><div class="hero-image" style="background-image:url('misc/inside-hero.jpg');">
			</div><div class="hero-shadow-wrapper">
				<div class="hero-shadow"></div>
			</div></div>
	</div>

	<a class="skip-marker" name="view-main-content" id="view-main-content"></a>

	<div class="container" id="breadcrumb-social">
		
		<div class="row-fluid">
			<div class="span6">
				<ul class="breadcrumb">
			<li><a href="http://louisville.edu/nursing">Home</a><span class="divider">/</span></li><li><a href="http://louisville.edu/nursing/directory">Directory</a><span class="divider">/</span></li><li><span id="breadcrumbs-current">All Faculty &amp; Staff</span></li>
		</ul></div>
			<div class="span6">
				<ul class="social-icons-horizontal"><li><div class="fb-like" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div></li><li><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li><li><div class="g-plusone" data-size="medium"></div></li></ul></div>
		</div>
	</div>

	<div class="container main-content" id="main-content">
		<h1 class="hidden-phone">
                    All Faculty &amp; Staff
                </h1>
		<div class="row-fluid">
			<div class="span12 content">
				<h1 class="visible-phone">
                    All Faculty &amp; Staff
                </h1>

				

				<div class="core-content">
			<div id="content-core">
				
		<div data-widget-host="habitat" class="preview">
				<script type="text/props">{
					"load": [
						"Image",
						{"Contact": {"css": "h3 + p, p + p"}},
						"Education",
						{"Bad CSS": {"css": "bad css"}},
						"Nothing"
					]
				}</script>
			</div>
			<table class="listing" summary="Content listing"><thead><tr><th>Title</th><th>Tags</th></tr></thead><tbody><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/abusalem-said" title=""></a><a href="http://louisville.edu/nursing/directory/abusalem-said" class="state-external contenttype-document" title="">Said K. Abusalem, PhD, RN</a></td><td>Full-time Faculty, Research</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/alaloul-fawwaz" title=""></a><a href="http://louisville.edu/nursing/directory/alaloul-fawwaz" class="state-external contenttype-document" title="">Fawwaz Alaloul, PhD, MPH, RN</a></td><td>Full-time Faculty, Research</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/allen-tammy" title=""></a><a href="http://louisville.edu/nursing/directory/allen-tammy" class="state-external contenttype-document" title="">Tammy Allen</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/baisch-kristin" title=""></a><a href="http://louisville.edu/nursing/directory/baisch-kristin" class="state-external contenttype-document" title="">Kristin Baisch</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/baker-dana" title=""></a><a href="http://louisville.edu/nursing/directory/baker-dana" class="state-external contenttype-document" title="">Dana Baker, BSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/barton-sharon" title=""></a><a href="http://louisville.edu/nursing/directory/barton-sharon" class="state-external contenttype-document" title="">Sharon Barton, PhD, RN</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/baxter-michelle" title=""></a><a href="http://louisville.edu/nursing/directory/baxter-michelle" class="state-external contenttype-document" title="">Michelle L. Baxter, APRN, AGNP-C</a></td><td>Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/beckham-judith" title=""></a><a href="http://louisville.edu/nursing/directory/beckham-judith" class="state-external contenttype-document" title="">Judith E. Beckham, MSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/bethel-jaiteh-cynethia" title=""></a><a href="http://louisville.edu/nursing/directory/bethel-jaiteh-cynethia" class="state-external contenttype-document" title="">Cynethia Bethel-Jaiteh, DNP-C, MSN, APRN, CPNP, CLC</a></td><td>Full-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/black-jeffrey" title=""></a><a href="http://louisville.edu/nursing/directory/black-jeffrey" class="state-external contenttype-document" title="">Jeffrey M. Black</a></td><td>Staff</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/black-karen" title=""></a><a href="http://louisville.edu/nursing/directory/black-karen" class="state-external contenttype-document" title="">Karen P. Black, MSN, APRN, PMHNP-BC</a></td><td>Full-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/blandford-cassandra" title=""></a><a href="http://louisville.edu/nursing/directory/blandford-cassandra" class="state-external contenttype-document" title="">Cassandra Blandford, BSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/bodne-holly" title=""></a><a href="http://louisville.edu/nursing/directory/bodne-holly" class="state-external contenttype-document" title="">Holly Bodne</a></td><td>Part-time Faculty, Owensboro</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/botones-marelle" title=""></a><a href="http://louisville.edu/nursing/directory/botones-marelle" class="state-external contenttype-document" title="">Marelle S. Botones</a></td><td>Staff</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/brewer-andre" title=""></a><a href="http://louisville.edu/nursing/directory/brewer-andre" class="state-external contenttype-document" title="">Andre R. Brewer, MA, MBA</a></td><td>Staff</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/burckhardt-liz" title=""></a><a href="http://louisville.edu/nursing/directory/burckhardt-liz" class="state-external contenttype-document" title="">Liz Burckhardt, DNP, RN</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/byrd-jenee" title=""></a><a href="http://louisville.edu/nursing/directory/byrd-jenee" class="state-external contenttype-document" title="">Jenee Byrd, MSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/calloway-angela" title=""></a><a href="http://louisville.edu/nursing/directory/calloway-angela" class="state-external contenttype-document" title="">Angela Calloway, PhD, MA, BSN, RN</a></td><td>Full-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/calvert-jennifer" title=""></a><a href="http://louisville.edu/nursing/directory/calvert-jennifer" class="state-external contenttype-document" title="">Jennifer Calvert, BSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/carter-sarah" title=""></a><a href="http://louisville.edu/nursing/directory/carter-sarah" class="state-external contenttype-document" title="">Sarah Carter, MSN, APRN, FNP-BC</a></td><td>Full-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/chandler-jennifer" title=""></a><a href="http://louisville.edu/nursing/directory/chandler-jennifer" class="state-external contenttype-document" title="">Jennifer Chandler, MSN, RN, CCRN</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/chlebowy-diane" title=""></a><a href="http://louisville.edu/nursing/directory/chlebowy-diane" class="state-external contenttype-document" title="">Diane Orr Chlebowy, PhD, RN</a></td><td>Full-time Faculty, Research</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/christian-becky" title=""></a><a href="http://louisville.edu/nursing/directory/christian-becky" class="state-external contenttype-document" title="">Becky J. Christian, PhD, MSN, RN, FNAP</a></td><td>Full-time Faculty, Research</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/clark-paul" title=""></a><a href="http://louisville.edu/nursing/directory/clark-paul" class="state-external contenttype-document" title="">Paul R. Clark, PhD, RN, MA</a></td><td>Full-time Faculty, Research</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/clark-rudy" title=""></a><a href="http://louisville.edu/nursing/directory/clark-rudy" class="state-external contenttype-document" title="">Rudy Clark, MSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/coty-mary-beth" title=""></a><a href="http://louisville.edu/nursing/directory/coty-mary-beth" class="state-external contenttype-document" title="">Mary-Beth Coty, PhD, APRN-BC</a></td><td>Full-time Faculty, Research</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/craddock-ruth" title=""></a><a href="http://louisville.edu/nursing/directory/craddock-ruth" class="state-external contenttype-document" title="">Ruth Craddock, PhD, RN</a></td><td>Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/cummins-adam" title=""></a><a href="http://louisville.edu/nursing/directory/cummins-adam" class="state-external contenttype-document" title="">Adam W. Cummins</a></td><td>Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/dean-liane" title=""></a><a href="http://louisville.edu/nursing/directory/dean-liane" class="state-external contenttype-document" title="">Liane Dean</a></td><td>Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/deletter-mary" title=""></a><a href="http://louisville.edu/nursing/directory/deletter-mary" class="state-external contenttype-document" title="">Mary DeLetter, PhD, RN</a></td><td>Full-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/dixon-john" title=""></a><a href="http://louisville.edu/nursing/directory/dixon-john" class="state-external contenttype-document" title="">John C. Dixon</a></td><td>Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/elder-cheryl" title=""></a><a href="http://louisville.edu/nursing/directory/elder-cheryl" class="state-external contenttype-document" title="">Cheryl Elder, BSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/emery-jessica" title=""></a><a href="http://louisville.edu/nursing/directory/emery-jessica" class="state-external contenttype-document" title="">Jessica L. Emery, BSN, RN</a></td><td>Part-time Faculty, Owensboro</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/enoch-debbie" title=""></a><a href="http://louisville.edu/nursing/directory/enoch-debbie" class="state-external contenttype-document" title="">Debbie Enoch, MBA, MSN, RN</a></td><td>Part-time Faculty, Owensboro</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/falkenstein-amy" title=""></a><a href="http://louisville.edu/nursing/directory/falkenstein-amy" class="state-external contenttype-document" title="">Amy Falkenstein, BSN</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/freeman-linda" title=""></a><a href="http://louisville.edu/nursing/directory/freeman-linda" class="state-external contenttype-document" title="">Linda H. Freeman, PhD, RN</a></td><td>Emerita Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/freeman-smith-mary" title=""></a><a href="http://louisville.edu/nursing/directory/freeman-smith-mary" class="state-external contenttype-document" title="">Mary Freeman-Smith</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/gates-karin" title=""></a><a href="http://louisville.edu/nursing/directory/gates-karin" class="state-external contenttype-document" title="">Karin Gates</a></td><td>Staff</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/geary-anita" title=""></a><a href="http://louisville.edu/nursing/directory/geary-anita" class="state-external contenttype-document" title="">Anita Geary</a></td><td>Staff</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/geary-haley" title=""></a><a href="http://louisville.edu/nursing/directory/geary-haley" class="state-external contenttype-document" title="">Haley Geary, BSN, RN</a></td><td>Part-time Faculty, Owensboro</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/gibson-andrea" title=""></a><a href="http://louisville.edu/nursing/directory/gibson-andrea" class="state-external contenttype-document" title="">Andrea Gibson, BSN, RN</a></td><td>Staff</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/gisler-paula" title=""></a><a href="http://louisville.edu/nursing/directory/gisler-paula" class="state-external contenttype-document" title="">Paula S. Gisler, PhD</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/grigutis-eileen" title=""></a><a href="http://louisville.edu/nursing/directory/grigutis-eileen" class="state-external contenttype-document" title="">Eileen O. Grigutis, ARNP</a></td><td>Full-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/hall-lynne" title=""></a><a href="http://louisville.edu/nursing/directory/hall-lynne" class="state-external contenttype-document" title="">Lynne Hall, DrPH, RN</a></td><td>Full-time Faculty, Research</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/hall-molly" title=""></a><a href="http://louisville.edu/nursing/directory/hall-molly" class="state-external contenttype-document" title="">Molly Hall</a></td><td>Staff</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/hammash-muna" title=""></a><a href="http://louisville.edu/nursing/directory/hammash-muna" class="state-external contenttype-document" title="">Muna Hammash, PhD, RN</a></td><td>Full-time Faculty, Research</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/hardwick-jackie" title=""></a><a href="http://louisville.edu/nursing/directory/hardwick-jackie" class="state-external contenttype-document" title="">Jackie Hardwick</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/hart-trish" title=""></a><a href="http://louisville.edu/nursing/directory/hart-trish" class="state-external contenttype-document" title="">Trish Hart, MA</a></td><td>Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/hartlage-heather" title=""></a><a href="http://louisville.edu/nursing/directory/hartlage-heather" class="state-external contenttype-document" title="">Heather Hartlage, MSN, CPN, RN</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/hayden-dedra" title=""></a><a href="http://louisville.edu/nursing/directory/hayden-dedra" class="state-external contenttype-document" title="">Dedra Hayden, MSN, CDE, APRN-C</a></td><td>Full-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/hermann-carla" title=""></a><a href="http://louisville.edu/nursing/directory/hermann-carla" class="state-external contenttype-document" title="">Carla Hermann, PhD, RN</a></td><td>Full-time Faculty, Research</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/hern-marcia" title=""></a><a href="http://louisville.edu/nursing/directory/hern-marcia" class="state-external contenttype-document" title="">Marcia J. Hern, EdD, CNS, RN</a></td><td>Full-time Faculty, Dean</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/higdon-amy" title=""></a><a href="http://louisville.edu/nursing/directory/higdon-amy" class="state-external contenttype-document" title="">Amy Higdon, MSN, RN</a></td><td>Full-time Faculty, Owensboro</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/hines-martin-vicki" title=""></a><a href="http://louisville.edu/nursing/directory/hines-martin-vicki" class="state-external contenttype-document" title="">Vicki Hines-Martin, PhD, PMHCNS, RN, FAAN</a></td><td>Full-time Faculty, Research</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/hoover-kasie" title=""></a><a href="http://louisville.edu/nursing/directory/hoover-kasie" class="state-external contenttype-document" title="">Kasie M. Hoover</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/howell-amanda" title=""></a><a href="http://louisville.edu/nursing/directory/howell-amanda" class="state-external contenttype-document" title="">Amanda K. Howell, MSN, RN</a></td><td>Full-time Faculty, Owensboro</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/huntington-moskos-luz" title=""></a><a href="http://louisville.edu/nursing/directory/huntington-moskos-luz" class="state-external contenttype-document" title="">Luz Huntington-Moskos, PhD, RN, CPN</a></td><td>Full-time Faculty, Research</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/hutti-marianne" title=""></a><a href="http://louisville.edu/nursing/directory/hutti-marianne" class="state-external contenttype-document" title="">Marianne Hutti, PhD, WHNP-BC</a></td><td>Full-time Faculty, Research</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/jackey-jessica" title=""></a><a href="http://louisville.edu/nursing/directory/jackey-jessica" class="state-external contenttype-document" title="">Jessica Jackey, MS, BA</a></td><td>Student Services, Staff</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/johnson-elizabeth" title=""></a><a href="http://louisville.edu/nursing/directory/johnson-elizabeth" class="state-external contenttype-document" title="">Elizabeth G. Johnson, DSN, RN</a></td><td>Part-time Faculty, Owensboro</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/johnson-megan" title=""></a><a href="http://louisville.edu/nursing/directory/johnson-megan" class="state-external contenttype-document" title="">Megan C. Johnson</a></td><td>Staff</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/jones-jennifer" title=""></a><a href="http://louisville.edu/nursing/directory/jones-jennifer" class="state-external contenttype-document" title="">Jennifer Jones</a></td><td>Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/kelly-carin" title=""></a><a href="http://louisville.edu/nursing/directory/kelly-carin" class="state-external contenttype-document" title="">Carin Kelly, BSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/knoop-allen" title=""></a><a href="http://louisville.edu/nursing/directory/knoop-allen" class="state-external contenttype-document" title="">Allen R. Knoop, BSN</a></td><td>Part-time Faculty, Owensboro</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/knott-terri" title=""></a><a href="http://louisville.edu/nursing/directory/knott-terri" class="state-external contenttype-document" title="">Terri Knott</a></td><td>Owensboro, Student Services, Staff</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/logsdon-cynthia" title=""></a><a href="http://louisville.edu/nursing/directory/logsdon-cynthia" class="state-external contenttype-document" title="">M. Cynthia Logsdon, PhD, WHNP-BC, FAAN</a></td><td>Full-time Faculty, Research</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/lynch-geneva" title=""></a><a href="http://louisville.edu/nursing/directory/lynch-geneva" class="state-external contenttype-document" title="">Geneva Lynch, BSN, RN-BC</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/mahoney-shana" title=""></a><a href="http://louisville.edu/nursing/directory/mahoney-shana" class="state-external contenttype-document" title="">Shana L. Mahoney, BSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/mcrae-emily" title=""></a><a href="http://louisville.edu/nursing/directory/mcrae-emily" class="state-external contenttype-document" title="">Emily McRae, APRN, CPNP</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/mehringer-angela" title=""></a><a href="http://louisville.edu/nursing/directory/mehringer-angela" class="state-external contenttype-document" title="">Angela D. Mehringer, MSN, RN, IBCLC</a></td><td>Full-time Faculty, Owensboro</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/metz-elizabeth" title=""></a><a href="http://louisville.edu/nursing/directory/metz-elizabeth" class="state-external contenttype-document" title="">Elizabeth Metz, MSN, RN</a></td><td>Full-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/meyer-kim" title=""></a><a href="http://louisville.edu/nursing/directory/meyer-kim" class="state-external contenttype-document" title="">Kimberly S. Meyer, MSN, APRN-BC, CCRN</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/mitchell-heather" title=""></a><a href="http://louisville.edu/nursing/directory/mitchell-heather" class="state-external contenttype-document" title="">Heather Mitchell, PhD, RN</a></td><td>Full-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/moon-patricia" title=""></a><a href="http://louisville.edu/nursing/directory/moon-patricia" class="state-external contenttype-document" title="">Patricia A. Moon, BA</a></td><td>Student Services, Staff</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/munson-teresa" title=""></a><a href="http://louisville.edu/nursing/directory/munson-teresa" class="state-external contenttype-document" title="">Teresa Munson, BSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/nash-whitney" title=""></a><a href="http://louisville.edu/nursing/directory/nash-whitney" class="state-external contenttype-document" title="">Whitney A. Nash, PhD, APRN,  ANP-BC, FAANP</a></td><td>Full-time Faculty, Research</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/nation-emily" title=""></a><a href="http://louisville.edu/nursing/directory/nation-emily" class="state-external contenttype-document" title="">Emily Nation</a></td><td>Staff</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/pack-alona" title=""></a><a href="http://louisville.edu/nursing/directory/pack-alona" class="state-external contenttype-document" title="">Alona Pack, MA, BSN, RN</a></td><td>Full-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/pagni-jennifer" title=""></a><a href="http://louisville.edu/nursing/directory/pagni-jennifer" class="state-external contenttype-document" title="">Jennifer Pagni, MA, RN, IBCLC</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/pearson-matthew" title=""></a><a href="http://louisville.edu/nursing/directory/pearson-matthew" class="state-external contenttype-document" title="">Matthew V. Pearson, BSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/perkins-nicole" title=""></a><a href="http://louisville.edu/nursing/directory/perkins-nicole" class="state-external contenttype-document" title="">Nicole Perkins, MSN, MHA, RN, CFN</a></td><td>Full-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/polivka-barbara" title=""></a><a href="http://louisville.edu/nursing/directory/polivka-barbara" class="state-external contenttype-document" title="">Barbara Polivka, PhD, RN</a></td><td>Full-time Faculty, Research</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/reynolds-angela" title=""></a><a href="http://louisville.edu/nursing/directory/reynolds-angela" class="state-external contenttype-document" title="">Angela Reynolds, MSN, RN, CCRN</a></td><td>Full-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/riff-diane" title=""></a><a href="http://louisville.edu/nursing/directory/riff-diane" class="state-external contenttype-document" title="">Diane Riff, MSN, FNP-C, RN</a></td><td>Full-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/roberts-kay" title=""></a><a href="http://louisville.edu/nursing/directory/roberts-kay" class="state-external contenttype-document" title="">Kay T. Roberts, EdD, MSN, FNP-BC, FAAN</a></td><td>Emerita Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/robertson-sara" title=""></a><a href="http://louisville.edu/nursing/directory/robertson-sara" class="state-external contenttype-document" title="">Sara Robertson, DNP, APRN, FNP</a></td><td>Full-time Faculty, Research</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/robinson-karen" title=""></a><a href="http://louisville.edu/nursing/directory/robinson-karen" class="state-external contenttype-document" title="">Karen M. Robinson, PhD, PMHCNS, BC, FAAN</a></td><td>Full-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/rodenas-emylene" title=""></a><a href="http://louisville.edu/nursing/directory/rodenas-emylene" class="state-external contenttype-document" title="">Emylene Rodenas, MS</a></td><td>Staff</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/rose-karen" title=""></a><a href="http://louisville.edu/nursing/directory/rose-karen" class="state-external contenttype-document" title="">Karen Rose</a></td><td>Staff</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/rosenberger-vivien" title=""></a><a href="http://louisville.edu/nursing/directory/rosenberger-vivien" class="state-external contenttype-document" title="">Vivien Rosenberger, BSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/roussel-jessica" title=""></a><a href="http://louisville.edu/nursing/directory/roussel-jessica" class="state-external contenttype-document" title="">Jessica Roussel, MEd, BA</a></td><td>Student Services, Staff</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/schrader-melanie" title=""></a><a href="http://louisville.edu/nursing/directory/schrader-melanie" class="state-external contenttype-document" title="">Melanie Schrader, PhD</a></td><td>Full-time Faculty, Owensboro</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/shawler-celeste" title=""></a><a href="http://louisville.edu/nursing/directory/shawler-celeste" class="state-external contenttype-document" title="">Celeste Shawler, PhD, PMHCNS-BC</a></td><td>Full-time Faculty, Research</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/shelton-tiffany" title=""></a><a href="http://louisville.edu/nursing/directory/shelton-tiffany" class="state-external contenttype-document" title="">Tiffany Shelton, MSN</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/shutt-autumn" title=""></a><a href="http://louisville.edu/nursing/directory/shutt-autumn" class="state-external contenttype-document" title="">Autumn Shutt, MSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/siepler-jessica" title=""></a><a href="http://louisville.edu/nursing/directory/siepler-jessica" class="state-external contenttype-document" title="">Jessica I. Siepler, MSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/simon-debbie" title=""></a><a href="http://louisville.edu/nursing/directory/simon-debbie" class="state-external contenttype-document" title="">Debbie L. Simon, MSN, MEd, RN</a></td><td>Part-time Faculty, Owensboro</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/smith-joyce" title=""></a><a href="http://louisville.edu/nursing/directory/smith-joyce" class="state-external contenttype-document" title="">Joyce M. Smith, MSN, LMFT, RN</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/smith-montray" title=""></a><a href="http://louisville.edu/nursing/directory/smith-montray" class="state-external contenttype-document" title="">Montray M. Smith, MSN, MPH, RN, LHRM</a></td><td>Full-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/smith-pamela" title=""></a><a href="http://louisville.edu/nursing/directory/smith-pamela" class="state-external contenttype-document" title="">Pamela A. Smith, BSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/smith-sandra" title=""></a><a href="http://louisville.edu/nursing/directory/smith-sandra" class="state-external contenttype-document" title="">Sandra L. Smith, PhD, APRN, NNP-BC</a></td><td>Full-time Faculty, Research</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/sowell-shaun" title=""></a><a href="http://louisville.edu/nursing/directory/sowell-shaun" class="state-external contenttype-document" title="">Shaun Sowell, M.Ed, BA</a></td><td>Student Services, Staff</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/speck-barbara" title=""></a><a href="http://louisville.edu/nursing/directory/speck-barbara" class="state-external contenttype-document" title="">Barbara J. Speck, PhD, RN</a></td><td>Full-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/staten-ruth" title=""></a><a href="http://louisville.edu/nursing/directory/staten-ruth" class="state-external contenttype-document" title="">Ruth Staten, PhD, APRN-CS-NP</a></td><td>Full-time Faculty, Research</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/stiff-bailey" title=""></a><a href="http://louisville.edu/nursing/directory/stiff-bailey" class="state-external contenttype-document" title="">Bailey E. Stiff, BSN, RN</a></td><td>Part-time Faculty, Owensboro</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/stone-heather" title=""></a><a href="http://louisville.edu/nursing/directory/stone-heather" class="state-external contenttype-document" title="">Heather M. Stone, MSN, FNP-C</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/tencer-vickie" title=""></a><a href="http://louisville.edu/nursing/directory/tencer-vickie" class="state-external contenttype-document" title="">Vickie Tencer</a></td><td>Staff, Research</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/turner-karen" title=""></a><a href="http://louisville.edu/nursing/directory/turner-karen" class="state-external contenttype-document" title="">Karen Turner, MS, APRN, DNP</a></td><td>Full-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/vanhoozer-kandace" title=""></a><a href="http://louisville.edu/nursing/directory/vanhoozer-kandace" class="state-external contenttype-document" title="">Kandace K. Vanhoozer, BSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/vickers-smith-rachel" title=""></a><a href="http://louisville.edu/nursing/directory/vickers-smith-rachel" class="state-external contenttype-document" title="">Rachel Vickers Smith, PhD, MPH</a></td><td>Full-time Faculty, Research</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/voyles-julie" title=""></a><a href="http://louisville.edu/nursing/directory/voyles-julie" class="state-external contenttype-document" title="">Julie Ann Voyles, BSN, RN, CCRN</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/waldie-gaye" title=""></a><a href="http://louisville.edu/nursing/directory/waldie-gaye" class="state-external contenttype-document" title="">D. Gaye Waldie, APRN-c, MSN, RN</a></td><td>Part-time Faculty, Owensboro</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/wardrip-brandy" title=""></a><a href="http://louisville.edu/nursing/directory/wardrip-brandy" class="state-external contenttype-document" title="">Brandy L. Wardrip, MSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/warren-mary" title=""></a><a href="http://louisville.edu/nursing/directory/warren-mary" class="state-external contenttype-document" title="">Mary Warren, BSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/wheat-robert" title=""></a><a href="http://louisville.edu/nursing/directory/wheat-robert" class="state-external contenttype-document" title="">Robert Wheat, BSN, RN</a></td><td>Part-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/whitaker-cristin" title=""></a><a href="http://louisville.edu/nursing/directory/whitaker-cristin" class="state-external contenttype-document" title="">Cristin Whitaker, MSN, RN</a></td><td>Part-time Faculty, Owensboro</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/wimsatt-amy" title=""></a><a href="http://louisville.edu/nursing/directory/wimsatt-amy" class="state-external contenttype-document" title="">Amy Wimsatt, MSN, RN</a></td><td>Full-time Faculty, Owensboro</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/wolfe-kim" title=""></a><a href="http://louisville.edu/nursing/directory/wolfe-kim" class="state-external contenttype-document" title="">Kim Wolfe, BSN, RN</a></td><td>Part-time Faculty, Owensboro</td></tr><tr class="odd"><td><a href="http://louisville.edu/nursing/directory/wright-imelda" title=""></a><a href="http://louisville.edu/nursing/directory/wright-imelda" class="state-external contenttype-document" title="">Imelda Wright, MSN, RN, CNOR</a></td><td>Full-time Faculty</td></tr><tr class="even"><td><a href="http://louisville.edu/nursing/directory/yanes-boza-hermys" title=""></a><a href="http://louisville.edu/nursing/directory/yanes-boza-hermys" class="state-external contenttype-document" title="">Hermys Yanes Boza, BSN, RN</a></td><td>Part-time Faculty</td></tr></tbody></table><!-- Navigation --></div>
		</div>
			</div>
		</div>
		<ul class="social-icons-horizontal"><li><div class="fb-like" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div></li><li><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li><li><div class="g-plusone" data-size="medium"></div></li></ul></div>

	<div id="prefooter"><div class="container"><div class="row-fluid"><div class="span3"><h1>School of Nursing</h1><address class="prefooter-address"><p>Health Sciences Campus, K-Wing<br /> 555 South Floyd Street<br /> Suite 3019<br /> Louisville, KY 40202</p></address></div><div class="span2"><h1><em class="glyphicon glyphicon-time"></em> Office Hours</h1><p>M-F 8:00 am to 5:00 pm</p><p>No Weekend or Holiday Hours</p></div><div class="span2"><h1><em class="glyphicon  icon-question-sign"></em> Contact</h1><p><em class="glyphicon glyphicon-phone"></em>1-877-81-NURSE</p><p><em class="glyphicon glyphicon-phone"></em>502-852-5825</p><p><a href="mailto:karen.rose@louisville.edu"><em class="glyphicon glyphicon-envelope"></em> Email</a></p><p>View more <a href="http://louisville.edu/nursing/contact">contact information</a>.</p></div><div class="span2"><h1><em class="glyphicon icon-info-sign"></em> About</h1><p><a class="internal-link" href="resolveuid/e4e139cebf564c05964f7100dd4ae803">About the School</a></p><p><a href="http://louisville.edu/nursing/dean">Office of the Dean</a></p><p><a href="http://louisville.edu/nursing/directory">Directory</a></p><p><a class="internal-link" href="resolveuid/e4e139cebf564c05964f7100dd4ae803">Accreditation</a></p></div><div class="span3"><h1><em class="glyphicon glyphicon-comment"></em> Giving</h1><div class="row-fluid"><div class="span6"><p><a href="http://louisville.edu/nursing/giving">Giving to the SON</a></p><h1><em class="glyphicon glyphicon-comment"></em> Social Media</h1><div class="row-fluid"><div class="span6"><p><a class="external-link" href="https://www.facebook.com/UofLSchoolOfNursing" target="_self" title="">Facebook</a></p><p><a href="https://twitter.com/uofl_son">Twitter</a></p><p><a class="external-link" href="https://www.youtube.com/channel/UCLB1KxFIe6ZP4FMxWMqaisQ" target="_self" title="SON Nursing Site">YouTube<br /></a></p></div></div></div><p><a class="external-link" href="http://https://www.youtube.com/channel/UCLB1KxFIe6ZP4FMxWMqaisQ" target="_self" title="SON Nursing Site"><br /></a></p></div></div></div></div></div>

</div>
    <footer class="grey">
      <div class="container">
        <div class="row hidden-phone">
          <div class="span3">
            <ul class="nav nav-pills">
              <li id="copy">
                <a title="Go to louisville.edu" rel="tooltip" href="http://louisville.edu/">
                            © University of Louisville
                        </a>
              </li>
            </ul>
          </div>
          <div class="span7">
            <ul class="nav nav-pills">
              <li>
                <a href="http://louisville.edu/contact.html">Contact</a>
              </li>
              <li>
                <a href="http://louisville.edu/privacy-statement">Privacy Statement</a>
              </li>
              <li class="dropdown dropup">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            Apply
                        </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="http://louisville.edu/admissions/apply">Undergraduate</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="http://louisville.edu/admissions/apply/transfer/">Transfer</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="http://graduate.louisville.edu/">Graduate</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="http://louisville.edu/dental/dmd/admission/">Dentistry</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="http://www.law.louisville.edu/admissions">Law</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="http://louisville.edu/medschool/apply">Medicine</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="http://louisville.edu/business/apply">MBA</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="http://louisville.edu/admissions/apply/international">International</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="http://louisville.edu/online/admissions">Online Learning</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="http://louisville.edu/jobs">Jobs</a>
              </li>
              <li>
                <a href="http://louisville.edu/giving">Donate</a>
              </li>
              <li>
                <a href="http://louisville.edu/emergency">Emergency</a>
              </li>
            </ul>
<!-- Fix this -->
          </div>
          <div class="span2">
            <ul class="nav nav-pills pull-right">
              <li id="login-bottom" class="dropdown dropup pull-right">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            Login<i class="icon-cog icon-white"></i></a>
                <ul class="dropdown-menu bottom-up">
                  <li>
                    <a href="https://exchange.louisville.edu/">Exchange</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="http://outlook.com/cardmail.louisville.edu">CardMail</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="https://hrprod.louisville.edu/">PeopleSoft HR</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="https://csprod.louisville.edu/">PeopleSoft Campus Solutions</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="https://financials.louisville.edu/">PeopleSoft Financials</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="http://blackboard.louisville.edu/">Blackboard</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="login">Plone</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="row visible-phone">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <a href="http://louisville.edu/contact.html"><i class="icon-chevron-right icon-white pull-right"></i>
                            Contact
                        </a>
              </div>
            </div>
          </div>
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <a href="http://louisville.edu/privacy-statement"><i class="icon-chevron-right icon-white pull-right"></i>
                            Privacy Statement
                        </a>
              </div>
            </div>
          </div>
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <button class="btn btn-navbar" data-target="#mobile-footer-about" data-toggle="collapse" type="button">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <span class="footer-item">Apply</span>
                <div id="mobile-footer-about" class="nav-collapse collapse">
                  <ul class="nav">
                    <li>
                      <a href="http://louisville.edu/admissions/apply">Undergraduate</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="http://louisville.edu/admissions/apply/transfer/">Transfer</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="http://graduate.louisville.edu/">Graduate</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="http://louisville.edu/dental/dmd/admission/">Dentistry</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="http://www.law.louisville.edu/admissions">Law</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="http://louisville.edu/medschool/apply">Medicine</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="http://louisville.edu/business/apply">MBA</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="http://louisville.edu/admissions/apply/international">International</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="http://louisville.edu/online/admissions">Online Learning</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <a href="http://louisville.edu/jobs"><i class="icon-chevron-right icon-white pull-right"></i>
                            Jobs
                        </a>
              </div>
            </div>
          </div>
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <a href="http://louisville.edu/giving"><i class="icon-chevron-right icon-white pull-right"></i>
                            Donate
                        </a>
              </div>
            </div>
          </div>
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <a href="http://louisville.edu/emergency"><i class="icon-chevron-right icon-white pull-right"></i>
                            Emergency
                        </a>
              </div>
            </div>
          </div>
          <div class="navbar">
            <div class="navbar-inner">
              <button class="btn btn-navbar" data-target="#mobile-footer-login" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="footer-item">Login</span>
              <div id="mobile-footer-login" class="nav-collapse collapse">
                <ul class="nav">
                  <li>
                    <a href="https://exchange.louisville.edu/">Exchange</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="http://outlook.com/cardmail.louisville.edu">CardMail</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="https://hrprod.louisville.edu/">PeopleSoft HR</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="https://csprod.louisville.edu/">PeopleSoft Campus Solutions</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="https://financials.louisville.edu/">PeopleSoft Financials</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="http://blackboard.louisville.edu/">Blackboard</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="login">Plone</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <a title="Go to louisville.edu" rel="tooltip" href="http://louisville.edu/">
                © University of Louisville
            </a>
        </div>
      </div>
    </footer>
		<script async src="/bundle.js"></script>
  </body>
</html>
